html {
  background-color: #ffffb3;
  font-family: tahoma;
}

.test{
  position: fixed;
  top: 20%;
  left: 70%;
}

.NavBar {
  background: linear-gradient(to left, #0066ff, white);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5%;
  text-align: center;
  box-shadow: 10px 10px 5px black;
  border-style: groove;
  border-color: grey;
  border-width: 5px;
}
#NavBarText {
  position: relative;
  display: inline-block;
  color: #ff0000;
  font-size: 30px;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px blue;
}

.profilePic{
  height: 100%;
  width: 100%;
}

.UserProfile {
  position: fixed;
  top: 12%;
  height: 37%;
  width: 25%;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to left, #0066ff, white);
  padding: 10px;
  display: inline-block;
  margin: 10px;
  box-shadow: 10px 10px 5px black;
  border-style: groove;
  border-color: white;
}

.SideIcon {
  margin: 10px;
  position: fixed;
  top: 55%;
  justify-content: center;
  text-align: center;
  align-content: center;
  background: linear-gradient(to left, #0066ff, white);
  width: 25%;
  height: 37%;
  padding: 10px;
  box-shadow: 10px 10px 5px black;
  border-style: groove;
  border-color: white;
}
#SideButton {
  position: relative;
  display: block;
  align-self: center;
  justify-content: center;
  width: 100%;
}
.calendarPic {
  position: relative;
  height: 80%;
  width: 100%;
}
.CenterDisplay {
  position: absolute;
  left: 30%;
  top: 12%;
  width: 65%;
  height: 80%;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 5px black;
  border-style: groove;
  border-color: white;
  background: linear-gradient(to left, #0066ff, white);
}
.Task {
  position: relative;
  display: block;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  background-color: #ffffb3;
  box-shadow: 10px 10px 5px black;
  border-style: groove;
  border-color: white;
}
.taskName{
  margin: 2px;
  padding: 2px;
  background:-color: blue;
}
.taskDescription {
  margin: 2px;
  padding: 2px;
  background:-color: blue;
}
.taskTime {
  margin: 2px;
  padding: 2px;
  background:-color: blue;
}
.ToDoTitle {
  position: relative;
  display: inline-block;
  left: 40%;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px blue;
  text-align: center;
  align-self: center;
  font-size: 36px;
}
#AddButton {
  position: relative;
  display: inline-block;
  top: 3%;
  left: 43vw;
  width: 10vw;
  background-size: 20vw 15px;
  padding: 0px;
}